pandas
seaborn
wordcloud
nltk
keras
streamlit
newsapi-python
streamlit
python-dotenv
langchain
PyPDF2
chromadb
faiss-cpu
pdf2image
sqlite-utils
pandas
vaderSentiment
wordcloud
numpy==1.18.5
google-generativeai